.container{
  width: 30%;
}
.name{
  font-size: xx-large;
  font-weight: 500;
}
.job{
  font-size: x-large;
  font-weight: 500;
}
.subJobs{
  font-size: large;
  font-weight: 500;
}
/* Pantallas pequeñas (móviles) */
@media only screen and (max-width: 599px) {
  .container{
    max-width: 75%;
  }
  .name{
    font-size: 19px;
    font-weight: 500;
  }
  .job{
    font-size: 17px;
    font-weight: 500;
  }
  .subJobs{
    font-size: 16px;
    font-weight: 500;
  }
}

/* Pantallas medianas (tablets) */
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .container{
    max-width: 50%;
  }
  .name{
    font-size: 22px;
    font-weight: 500;
  }
  .job{
    font-size: 20px;
    font-weight: 500;
  }
  .subJobs{
    font-size: 19px;
    font-weight: 500;
  }
}

/* Pantallas grandes (escritorio pequeño) */
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .container{
    max-width: 40%;
  }
  .name{
    font-size: 26px;
    font-weight: 500;
  }
  .job{
    font-size: 24px;
    font-weight: 500;
  }
  .subJobs{
    font-size: 22px;
    font-weight: 500;
  }
}

/* Pantallas extragrandes (escritorio grande) */
@media only screen and (min-width: 1280px) {
  .container{
    max-width: 35%;
  }
  .name{
    font-size: xx-large;
    font-weight: 500;
  }
  .job{
    font-size: x-large;
    font-weight: 500;
  }
  .subJobs{
    font-size: large;
    font-weight: 500;
  }
}