

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}
.liClass{
  list-style: none;
  left: 5%;
}
.navElement{
 margin-left: 5%;
}